


 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
 </head>
 <body>
<div>
  <header class="container_header">
    <span  [routerLink]="['home']">Home</span>
    <span  [routerLink]="['student']">Student</span>
    <span  [routerLink]="['add']">Add Student</span>
  </header>
  <main  class="container_main">
    Hello GitHub
  <button (click)="transForm()">เพิ่มค่า</button>
  <button (click)="sum()">ผลรวม</button>
  <br>
    เหรียญห้าบาท {{fiveBahtList}}
    เหรียญบาท. {{oneBathList}}
<br>
    ผลรวม {{summary}}
    <br>

   <router-outlet></router-outlet>
  </main>
</div>



 </body>
 </html>
